export HUBOT_SLACK_TOKEN=${SLACK_TOKEN}
export HUBOT_LOG_LEVEL="debug"
export HUBOT_JENKINS_URL="${JENKINS_URL}"
export HUBOT_JENKINS_AUTH="${JENKINS_USER}:${JENKINS_PASSWORD}"
export HUBOT_NAGIOS_EVENT_NOTIFIER_ROOM="${NAGIOS_ROOM}"
export HUBOT_NAGIOS_URL="${NAGIOS_URL}"
export HUBOT_SLACK_EXIT_ON_DISCONNECT=${SLACK_EXIT_ON_DISCONNECT}
